<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.main.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>

<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">

                <div class="left_1">
                    <div class="left_1_profile_img">
                        <img src="images/profile_img.png" width="156px" height="142px" alt="">
                    </div>
                    <div class="left_1_profile_name">
                        <%=user.name%>
                    </div>
                    <div class="left_1_profile_prof">
                        <%=user.profession%>
                    </div>
                    <div class="left_1_profile_icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-facebook.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-youtube.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-twitter.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-instagram.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-linkedin.svg" class="icon_1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icons/icons-dribbble.svg" class="icon_1" alt="">
                            </div>
                        </a>
                    </div>
                    
                </div>
                <div class="l_margin1"></div>

                <div class="left_2"></div>
                <div class="l_margin2"></div>

                <div class="left_3"></div>
                <div class="l_margin3"></div>

                <div class="left_4"></div>
                <div class="l_margin4"></div>

                <div class="left_5"></div>
                <div class="l_margin5"></div>

            </div>
            <div class="middle_frame"></div>
            <div class="right_frame"></div>

        </div>
    </div>
</body>

</html>
