.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--Background, #f0f0f6);
}

.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: var(--Background, #f0f0f6);
}

.frame .main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
}
/* Left frame css lari shuyerdan boshlanadi */

.frame .main_frame .left_frame .left_1 {
  position: relative;
  width: 228px;
  height: 220px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame .main_frame .left_frame .left_1 .left_1_profile_img {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 142.53px;
  margin-bottom: 29.46px;
}

.frame .main_frame .left_frame .left_1 .left_1_profile_name {
  position: relative;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: #2b2b2b;
}

.frame .main_frame .left_frame .left_1 .left_1_profile_prof {
  position: relative;
  width: 147.84px;
  height: 25.65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}

.frame .main_frame .left_frame .left_1 .left_1_profile_icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;
}

.frame .main_frame .left_frame .left_1 .link_href {
  text-decoration: none;
  color: black;
}

.frame .main_frame .left_frame .left_1 .link_href .icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
}

.frame .main_frame .left_frame .left_1 .link_href .icon .icon_1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;
}

.frame .main_frame .left_frame .l_margin1 {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
}

.frame .main_frame .left_frame .left_2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 221px;
  height: 116px;
  margin-left: 40px;
}

.frame .main_frame .left_frame .l_margin2 {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 1.5px solid #f0f0f6;
}

.left_2 .about_details {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 221px;
  height: 32px;
  align-items: center;
}

.left_2 .about_details .details {
  color: var(--Black, #2b2b2b);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  background-color: #ffb400;
}

.left_2 .about_details .age_info {
  color: var(--Black, #2b2b2b);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.left_2 .about_details .residence_info {
  color: var(--Black, #2b2b2b);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.left_2 .about_details .freelance_info {
  color: var(--Available, #7eb942);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.left_2 .about_details .address_info {
  color: var(--Black, #2b2b2b);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.frame .main_frame .left_frame .left_3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
}

.left_3 .lang_info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 221px;
  height: 32px;
  align-items: center;
}

.left_3 .lang_info .lang_h3 {
  color: var(--Black, #2b2b2b);
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
}

.left_3 .lang_info .lang_info_1 {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.frame .main_frame .left_frame .l_margin3 {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 10px;
  margin-top: 49px;
  border: 1.5px solid #f0f0f6;
}
/* Left 4ga tegishli css left3ning ichida yozilgan */

.frame .main_frame .left_frame .left_4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 240px;
  margin-top: 25px;
  margin-left: 45px;
}

.left_4 .lang_info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left_4 .lang_info .lang_info_1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* Paragraph Progress - 15 */
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.frame .main_frame .left_frame .l_margin4 {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 49px;

  border: 1.5px solid #f0f0f6;
}

.frame .main_frame .left_frame .left_5 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 186px;
  height: 140px;
  /* margin-top: 25px; */
  margin-left: 45px;
}

.left_5 .extra_skill {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left_5 .extra_skill .extra_icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.left_5 .extra_skill .extra_info {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.frame .main_frame .left_frame .l_margin5 {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;
  border: 1.5px solid #f0f0f6;
}

/* Left tugadi */
/* Middle frame shuyerdan boshlanadi */
.frame .main_frame .middle_frame {
  position: relative;
  width: 970px;
  height: 1260px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  background: var(--Background, #f0f0f6);
}

.middle_top {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 971px;
  height: 454.328px;
  flex-shrink: 0;
  background: var(--White, #FFF);
}

.middle_block {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 56px;
}
.middle_header {
    position: relative;
    display: flex;
    align-items: center;
    width: 499.514px;
    height: 75px;
    flex-shrink: 0;

color: var(--Black, #2B2B2B);
font-family: sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 50px;
}

.middle_header_comment {
    width: 424.437px;
height: 85.612px;
flex-shrink: 0;
margin-top: 17px;

color: var(--Paragraph-Font, #767676);
font-kerning: none;
font-feature-settings: 'calt' off;

font-family: sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-transform: capitalize;
}

.middle_hire {
    /* position: relative; */
    display: flex;
    flex-direction: row;
}

.middle_hire_botton .link_href {
    text-decoration: none;
    color: black;
  }

  .middle_hire_botton .link_href .icon {
    position: relative;
    width: 70px;
    height: 17px;
    filter: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
    background: #ffb400;
  }

  .middle_hire_botton .link_href .icon .icon_hire {
    position: relative;
    left: 29.17%;
    right: 27.08%;
    margin-top: 5.86px;
  }


.middle_block1 {
    margin-top: 30px;
}


.middle_bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 970px;
  height: 653px;
  flex-shrink: 0;
  margin-top: 606px;
}

.middle_bottom .service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle_bottom .service .service_h1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--Black, #2b2b2b);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 39.552px;
  text-transform: capitalize;
}

.middle_bottom .service .service_p {
  color: var(--Paragraph-Font, #767676);
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  width: 438px;
  height: 68px;
  flex-shrink: 0;
}

.middle_bottom .service_info_seperate {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.middle_bottom .service_info {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background: var(--White, #FFF); */
  /* box-sizing: border-box; */
}

.middle_bottom .service_info1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background: var(--White, #FFF); */
  /* box-sizing: border-box; */
}

.middle_bottom .service_info_details {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--White, #fff);
  box-sizing: border-box;
}

.middle_bottom .service_info_details1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--White, #fff);
  box-sizing: border-box;
}

.middle_bottom .service_info_details2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--White, #fff);
  box-sizing: border-box;
}

.middle_bottom .service_info_details3 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--White, #fff);
  box-sizing: border-box;
}

.middle_bottom .service_info_details4 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--White, #fff);
  box-sizing: border-box;
}

.middle_bottom .service_info_details5 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 225px;
  flex-shrink: 0;
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--White, #fff);
  box-sizing: border-box;
}

.middle_bottom .service_icons {
  width: 68px;
  height: 68px;
  flex-shrink: 0;
}

.middle_bottom .service_name {
  color: var(--Black, #2b2b2b);
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; 
  text-transform: capitalize;
}

.middle_bottom .service_option {
  color: var(--Paragraph-Font, #767676);
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.middle_bottom .service_advert {
  color: var(--Black, #2b2b2b);

  /* H4 - 18px */
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 22.248px */
  text-transform: capitalize;
}

.middle_bottom .service_advert_info {
  width: 260px;
  height: 78px;
  flex-shrink: 0;
  color: var(--Paragraph-Font, #767676);
  text-align: center;
  font-kerning: none;
  font-feature-settings: "calt" off;

  /* P-15px paragraph */
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
  text-transform: capitalize;
}

.middle_bottom .service_advert_order {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--Yellow, #ffb400);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.middle_bottom .service_advert_right_icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

/* Right frame css lari shuyerdan boshlanadi */
.frame .main_frame .right_frame {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 108px;
  height: 1315px;
  background-color: white;
  align-items: center;
}

.right_frame .contrast {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-top: 50px;
}

.right_frame .right_menu_h4_home {
  position: relative;
  display: flex;
  /* align-items: center; */
  color: orange;
  font-family: sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 200px;
}

.right_frame .right_menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65px;
  height: 483px;
  flex-shrink: 0;
}

.right_frame .right_menu .right_menu_icons2 .link_href {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-decoration: none;
  color: black;
}

.right_frame .right_menu .right_menu_icons2 .link_href .icon {
  position: relative;
  width: 32.99px;
  height: 32.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
  background: #ffb400;
}

.right_frame .right_menu .right_menu_icons2 .link_href .icon .icon_1 {
  position: relative;
  left: 22%;
  right: 27%;
  margin-top: 10px;
}

.right_frame .right_menu .right_menu_icons {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.right_frame .right_menu .right_menu_icons .link_href {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.right_frame .right_menu .right_menu_icons .link_href .icon {
  position: relative;
  width: 32.9px;
  height: 32.8px;
  flex-shrink: 0;
  border-radius: 50%;
  filter: drop-shadow(0 4px rgba(0, 0, 0, 0.25));
  background: #f0f0f6;
}

.right_frame .right_menu .right_menu_icons .link_href .icon .icon_1 {
  position: relative;
  left: 22%;
  right: 27%;
  margin-top: 10px;
}
